/* meta styles

font-family: 'Timmana', sans-serif;
font-family: 'Coda Caption', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Righteous', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Alfa Slab One', cursive;
*/

html, body, div, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: inherit;
  width: inherit;
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  color: #2A2D34;
}

h2 {
  margin: 0;
}

h1 {
  font-family: 'Coda Caption', sans-serif;
  margin: 0;
}

p {
  font-family: 'Timmana', sans-serif;
  font-weight: 100;
}

#root {
  height: inherit;
  width: inherit;
}

.App {
  height: inherit;
  width: inherit;
}

#main {
  height: inherit;
  width: inherit;
}

.artist-body {
  display: flex;
  justify-content: space-between;
  height: 70%;
  align-items: center;
  overflow-y: scroll;
}

.artist-body-small {
  display: flex;
  justify-content: center;
  height: 70%;
  align-items: center;
  overflow-y: scroll;
}

#user-header {
  display: flex;
  justify-content: center;
  width: inherit;
  margin-top: 1%;
}

a {
  color: none;
  text-decoration: none;
}

#search-again {
  color: red;
}

/*Header/Footer*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12%;
  width: 100%;
  background-color: #2A2D34;
  color: white;
  position: relative;
}

header  h1 {
  color: #8BD600
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A2D34;
  width: 100%;
  height: 100%;
  margin: 0 2%;
}

#header-signout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-signout > span {
  display: none;
  margin-top: 2px;
}

#header-signout:hover > span {
  display: flex;
  cursor: pointer;
  transition: all 3s;
}

#header-signout:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8%;
}

.footer-link:hover {
  color: #2547C0;
  cursor: pointer;
}

/* buttons */

button:focus, input:focus {
  outline: 0;
}

button {
  border: none;
  font-family: 'Orbitron', sans-serif;
  line-height: 150%;
}

button:hover {
  cursor: pointer;
}

#splash-button {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  border: solid black 1px;
}

#splash-button:hover {
  background-color: #2547C0;
  color: white;
}

#event-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

#event-button:hover {
  background-color: #8BD600;
  color: white;
  cursor: pointer;
}

/* images/icons */

.loader,
.loader:before,
.loader:after {
  background: #8BD600;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #8BD600;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

#get-tour-icon {
  height: 30%;
  width: 25%;
  position: relative;
  margin-bottom: 2%;
  margin-top: 3px;
  z-index: 1000;
}

.tour-icon-show {
  display: block;
  cursor: pointer;
}

.tour-icon-hidden {
  display: none;
}

#get-tour-container:hover > img {
  transform: scale(1.1);
  transition: all 500ms;
  margin-top: 10px;
}

#artist-image-container {
  position: relative;
  left: 0;
  top: 0;
}

#play-icon {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  opacity: 0.8;
  z-index: 1;
  color: #8BD600;
}

#artist-image {
  position: relative;
  z-index: 0;
  width: 210px;
  height: 210px;
  border-radius: 5px;
}

#profile-icon {
  width: 50px;
  height: 50px;
  color: black;
}

#profile-icon:hover {
  color: #8BD600;
  transition: all 500ms;
}

/* profile */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0 10px;
}

#artist-image-container:hover {
  transform: scale(1.08);
  transition: transform 500ms;
  cursor: pointer;
}

#artist-image-container:hover > #play-icon {
  display: block;
}

#get-tour-container {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  flex-direction: column;
  height: auto;
  width: auto;
}

#artist-name-small {
  font-size: 12px;
}

#artist-name-container {
  height: 4px;
  width: auto;
}

/* splash */

#splash-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  background-color: #2A2D34;
  color: white;
}

#splash-button {
  margin-top: 4%;
}

/* PopUp/Modal */

#tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2476C0;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
  color: white;
}

.tour-info {
  border-bottom: solid #2A2D34 1px;
  width: 70%;
  color: #2A2D34;
}

#event-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-right: auto;
  padding-right: 1%;
  position: fixed;
  color: #8BD600;
  background-color: white;
}

#tour-container {
  color: black;
  background-color: #2476C0;
  height: 500px;
  width: 300px;
  overflow-y: scroll;
  margin-top: 5px;
}

#get-tour-container small {
  height: inherit;
  width: auto;
  position: relative;
  z-index: -10;
  padding: 0;
}

#tour-container > h1 {
  color: #2A2D34;
}

time {
  font-family: 'Timmana', sans-serif;
}

#tour-unavail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: inherit;
  background-color: #2476C0;
  padding-left: 10px;
  padding-right: 10px;
}

#get-tour-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  align-items: center;
}

#event-name-long {
  font-size: 14px;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

#loading p {
  color: #ffffff;
  font-size: 20px;
}

/* Search Form */

#search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-input-hidden {
  display: none;
  background-color: #2A2D34;
  color: white;
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: inherit;
}

#search-icon {
  height: 40px;
  width: 40px;
}

#search-icon:hover {
  cursor: pointer;
  transform: scale(1.1)
}

#search-input {
  display: flex;
  background-color: #2A2D34;
  color: white;
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: inherit;
  transition: all .5s ease;
}

